<nav aria-label="Main navigation" class="navbar">
	<ul role="menubar">
		{{ $current := . }}

    {{ range .Site.Menus.main }}
			{{ $active := $current.IsMenuCurrent "main" . }}
			{{ $active = or $active ($current.HasMenuCurrent "main" .) }}

			<li role="none">
				<a
					href="{{ .URL }}"
					role="menuitem"
					{{ if $active }}aria-current="page"{{ end }}
				>
					{{ .Name }}
				</a>
			</li>
		{{ end }}
	</ul>

	<a
		href="{{ with resources.Get "resume-husen-en.pdf" }}{{ .RelPermalink }}{{ end }}"
		class="btn btn--accent btn--inverted"
	>
		Resume
	</a>
</nav>
